
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #749eff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 0 auto;
  color: white !important;
}

.card {
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cardImgTop {
  width: 100%;
  height: auto;
  max-height: 400px;
  object-fit: contain;
  border-radius: 50%;
  border: 3px solid #52a7e0;
}

.cardBody {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 1.5rem;
}

.cardTitle {
  font-family: 'Arial', sans-serif;
  font-size: 2rem;
  color: #ff8968;
  margin-bottom: 20px;
}

.listGroup {
  margin-top: 1rem;
}

.listGroupItem {
  font-family: 'Arial', sans-serif;
  font-size: 1.2rem;
  color: #fffa68;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 0.5rem;
  background-color: #fff;
  text-align: center;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .cardTitle {
    font-size: 1.5rem;
  }

  .listGroupItem {
    font-size: 1rem;
  }
}
